/* Layout01.html 관련 css */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, Sans-serif;
    padding:0; margin: 0;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout 반응성 레이아웃 
-화면의 가로 사이즈가 650px미만으로 적용됨.(650px 미포함) */
@media screen and (max-width: 650px) {
    /* nav {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    } */
     nav ul {
      height: 100px;
      background: #ccc;
      list-style-type: none;
      margin:0;
    }
    
    article {
        height: 500px;
        background-color: #f1f1f1;
    }

} 

/*화면의 가로 사이즈가 650px이상부터(650px포함) 적용됨.*/
@media screen and (min-width: 650px) {
  article {
      float: left;
      padding: 20px;
      width: 80%;
      height: 500px;
      background-color: #f1f1f1;
  }

  nav {
      float: left;
      width: 20%;
      padding: 20px;
      background: #ccc;
  }
 
  nav ul {
      list-style-type: none;
      padding: 0;
  }
 

  section {
    height: 500px;
    background: #ccc;
  }
}
